button:hover {
    background-color: rgb(180, 88, 88);
    color: wheat;
    transform: translate(1.1);
    transition: transform 0.2s, background-color 0.2s, color 0.2s ease-in;
}

button:active {
    color: rgb(106, 201, 196);
    background-color: rgb(0, 0, 0);
}
