@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #09091A;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

button:hover {
  transform: scale(1.05);
}